{%extends "layout.html" %}
{% block title %}Basketball{% endblock %}
{% block body%}
<div class="live">
    <button class="btn btn-primary" type="button" style="background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      {{date}}
    </button>
  <div style="height:auto">
    <div class="collapse collapse-vertical" id="collapseWidthExample">
      <div class="card card-body centered" style="width:300px;border:none;background-color:#525CEB;align-items:center;">
        <form class="text-center">
            <form action="/basketball" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" style="background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;align-self:center" placeholder="Date" type="date">
                </div>
                <div class="date_form">
                    <button class="btn btn-primary mx-auto w-auto" style = "background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;" type="submit">Search</button>
                </div>
            </form>
        </form>
      </div>
    </div>
  </div>

</div>
<div id = 'matches_container'>
    <div class="grid-container">
        {% if live  %}
            {% for Stages in key %}
                    <div class = "football-match-item">
                        <div class = "cricket-match-header">
                            {{Stages.Snm}}
                        </div>
                        <div class="football-team">
                            <div class="name" style="display:flex;width:38%;text-align:center;align-items:center;margin-right:10px;">{% if Stages.Events[0].T1[0].Img %}<img src="https://lsm-static-prod.livescore.com/medium/{{ Stages.Events[0].T1[0].Img }}" alt={{Stages.Events[0].T1[0].Nm}}>{% else %}<img src="/static/No_image_available.svg" style ="width:48px;height:48px;" alt="No Image Available">{% endif %}{{Stages.Events[0].T1[0].Nm}}</div><div style="display:block;width:10%;">{{Stages.Events[0].Tr1}}</div>
                            <span style = "margin:25px"><h2>-</h2></span>
                            <div style="display:inline-block;width:10%;align-self:center">{{Stages.Events[0].Tr2}}</div><div class="name" style="display:flex;width:38%;text-align:center;align-items:center;margin-left:10px;">{% if Stages.Events[0].T2[0].Img %}<img src="https://lsm-static-prod.livescore.com/medium/{{ Stages.Events[0].T2[0].Img }}" alt={{Stages.Events[0].T2[0].Nm}}>{% else %}<img src="/static/No_image_available.svg" style ="width:48px;height:48px;" alt="No Image Available">{% endif %}{{Stages.Events[0].T2[0].Nm}}</div>
                        </div>
                        <div class="time" style="text-align:centre">
                            {{Stages.Events[0].Eps}}
                        </div>
                    </div>
            {% endfor %}
        {% else %}
            <div class="football-match-item">
                {% if date == "Live" %}
                There are no Live matches
                {% else %}
                    There are no matches on {{date}}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
