{%extends "layout.html" %}
{% block title %}Hockey{% endblock %}
{% block body%}
<div class="live">
    <button class="btn btn-primary" type="button" style="background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      {{date}}
    </button>
  <div style="height:auto">
    <div class="collapse collapse-vertical" id="collapseWidthExample">
      <div class="card card-body centered" style="width:300px;border:none;background-color:#525CEB;align-items:center;">
        <form class="text-center">
            <form action="/tennis" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="date" name="date" style="background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;align-self:center" placeholder="Date" type="date">
                </div>
                <div class="date_form">
                    <button class="btn btn-primary mx-auto w-auto" style = "background-color:#F0EBCC;color:black;border:1px solid #F8EDFF;" type="submit">Search</button>
                </div>
            </form>
        </form>
      </div>
    </div>
  </div>

</div>
<div id = 'matches_container'>
    <div class="grid-container">
        {% if live  %}
            {% for Stages in key %}
                    <div class = "football-match-item">
                        <div class = "cricket-match-header">
                            {{Stages.Snm}}
                        </div>
                        <div class="tennis-team">
                            <div class="time" style="display:flex;text-align:center;justify-items:center;align-items:center;padding:10px; border-right:1px solid black;height:100%;">
                                {{Stages.Events[0].Eps}}
                            </div>
                            <div class= "tennis-name">
                                        <div style = " padding:10px;text-align:left;height:50%;align-items:center;width:100%;">{% for a in Stages.Events[0].T1 %}<span> {{a.Nm}} | </span>{% endfor %}</div>
                                <div style="border-top:1px solid black;"><div style ="padding:10px;text-align:left;height:50%;">{% for a in Stages.Events[0].T2 %}<span> {{a.Nm}} | </span>{% endfor %}</div></div>
                            </div>
                            <div class="tennis-score">
                                <div class="tennis-session-score"><div style = "padding:10px">{{Stages.Events[0].Tr1S1}}</div><div style = "padding:10px">{{Stages.Events[0].Tr1S2}}</div><div style = "padding:10px">{{Stages.Events[0].Tr1S3}}</div><div style = "padding:10px">{{Stages.Events[0].Tr1S4}}</div><div style = "padding:10px">{{Stages.Events[0].Tr1S5}}</div></div>
                                <div class="tennis-session-score" style="border-top:1px solid black"><div style = "padding:10px">{{Stages.Events[0].Tr2S1}}</div><div style = "padding:10px">{{Stages.Events[0].Tr2S2}}</div><div style = "padding:10px">{{Stages.Events[0].Tr2S3}}</div><div style = "padding:10px">{{Stages.Events[0].Tr2S4}}</div><div style = "padding:10px">{{Stages.Events[0].Tr2S5}}</div></div>
                            </div>
                            <div>
                                <div class="tennis-points" style= "border-left:1px solid black;"><div style = "padding:10px">{% if Stages.Events[0].Tr1G %}{{Stages.Events[0].Tr1G}}{% else %} 0 {% endif %}</div></div>
                                <div class="tennis-points" style="border-top:1px solid black;border-left:1px solid black;"><div style = "padding:10px">{% if Stages.Events[0].Tr2G %}{{Stages.Events[0].Tr2G}}{% else %} 0 {% endif %}</div></div>
                            </div>
                            <div>
                                <div class="tennis-points" style= "border-left:1px solid black;"><div style = "padding:10px">{% if Stages.Events[0].Tr1 %}{{Stages.Events[0].Tr1}}{% else %} 0 {% endif %}</div></div>
                                <div class="tennis-points" style="border-top:1px solid black;border-left:1px solid black;"><div style = "padding:10px">{% if Stages.Events[0].Tr2 %}{{Stages.Events[0].Tr2}}{% else %} 0 {% endif %}</div>
                            </div>
                        </div>
                    </div>
                    </div>
            {% endfor %}
        {% else %}
            <div class="football-match-item">
                {% if date == "Live" %}
                    There are no Live matches
                {% else %}
                    There are no matches on {{date}}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
